<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="sqlbuilder.ZPM">
    <Module>
      <Name>sqlbuilder</Name>
      <Version>0.2.2</Version>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="gen.PKG"/>
    </Module>
  </Document>
</Export>
